.video-card {
  border: 1px solid #666;
  max-width: 300px;
  margin: 0.5rem;
  border-radius: 8px;
}

.video-card .img-container {
  padding: 5px;
}

.video-card img {
  width: 100%;
  border-radius: 5px;
}

.video-card-text {
  padding: 0.5rem;
}

.btn {
  /* text-align: center; */
}

.btn div {
  margin: 0.5rem 0;
}

.btn button {
  padding: 8px 18px;
  font-size: 0.9rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: #fff;
}
