.header {
  padding: 1rem 0;
  background-color: #0c2233;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo {
  font-size: 1.8rem;
  color: #fff;
}

.header-wrapper nav .nav-link {
  text-decoration: none;
  margin: 0 0.8rem;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .header-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }
  .header-wrapper nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
  }
  .header-wrapper nav .nav-link {
    margin: 0;
    display: flex;
  }
}
