.video-details-wrapper {
  font-family: serif sans-serif;
  font-size: 1.3rem;
}

.video {
  width: 100%;
}
.video iframe {
  width: 100%;
  height: 30rem;
  border-radius: 0.5rem;
  border: none;
}

.video-details-text h2 {
  margin: 0.5rem 0;
}

.video-details-text p {
  margin: 8px 0;
}

@media screen and (max-width: 600px) {
  .video-details-wrapper {
    padding: 0px;
  }
  .video iframe {
    height: 300px;
  }
}

.video-details-btn button {
  padding: 8px 10px;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 1rem;
  background-color: blueviolet;
  cursor: pointer;
}

.video-details-btn button:last-child {
  margin: 0 1rem;
}
